Question No 1: Create the variable first name and your last name and Compare the
length of your first name and your last name.

In [5]:
first_name = "Bharti"
last_name = "aasudani"
first_name_length = len(first_name)
last_name_length = len(last_name)
print("first name is longer than last name")
print("last name is longer than first name")
print("first and last name are same length ")

first name is longer than last name
last name is longer than first name
first and last name are same length

Using the len() built-in function, find the length of your first
name

In [7]:
first_name = "Bharti"
first_name_length = len(first_name)
print("the lenght of first name is",first_name_length)

the lenght of first name is 6

Question No 2: Declare 5 as num_one and 4 as num_two

Add num_one and num_two and assign the value to a variable total

In [10]:
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
sum = number2 + number1
print("the sum of numbers is ",sum)

enter the first number 5
enter the second number 4

the sum of numbers is  9.0

Subtract num_two from num_one and assign the value to a variable
diff

In [1]:
number2 = float(input("enter the second number"))
number1 = float(input("enter the first number"))
diff = number2 - number1
print("the diff of numbers is ",diff)

enter the second number 4
enter the first number 5

the diff of numbers is  -1.0

Multiply num_two and num_one and assign the value to a variable
product

In [3]:
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
multiply = number2 * number1
print("the multiply of numbers is ",multiply)

enter the first number 5
enter the second number 4

the multiply of numbers is  20.0

Divide num_one by num_two and assign the value to a variable
division

In [7]:
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
divide = number1/number2
print("the divide of numbers is ",divide)

enter the first number 5
enter the second number 4

the divide of numbers is  1.25

Use modulus division to find num_two divided by num_one and assign
the value to a variable remainder

In [29]:
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
reminder = number2 % number1
print("the floor reminder of numbers is ",reminder)

enter the first number 5
enter the second number 4

the floor reminder of numbers is  4.0

Calculate num_one to the power of num_two and assign the value to
a variable exp

In [9]:
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
power = number1**number2
print("the power of numbers is ",power)

enter the first number 5
enter the second number 4

the power of numbers is  625.0

Find floor division of num_one by num_two and assign the value to
a variable floor_division

In [27]:
number1 = float(input("enter the first number"))
number2 = float(input("enter the second number"))
floor_division = number1//number2
print("the floor division of numbers is ",floor_division)

enter the first number 5
enter the second number 4

the floor division of numbers is  1.0

The radius of a circle is 30 meters.
 Calculate the area of a circle and assign the value to a variable
name of area_of_circle
 Calculate the circumference of a circle and assign the value to a
variable name of circum_of_circle
 Take radius as user input and calculate the area.

In [37]:
r = 30
pi = 3.14
area_of_a_circle = pi*r**2
circum_of_circle = 2*pi*r
print("area of circle")
print("circum of circle")

area of circle
circum of circle

Question No 4: A grocery store sells a bag of ice for $1.25 and makes a 20% profit. If
it sells 500 bags of ice, how much total profit does it make?

In [17]:
price_of_bag = 1.25
profit_margin = 0.20
no_of_bags = 500
revenue_margin = no_of_bags * price_of_bag
total_profit = revenue_margin * profit_margin
print(total_profit)

125.0

Question no 5: A travel company wants to fly a plane to the Bahamas. Flying the plane
costs 5000 dollars. So far, 29 people have signed up for the trip. If
the company charges 200 dollars per ticket, what is the profit made by
the company? Create variables for each numeric quantity and use
appropriate arithmetic operations.

In [23]:
plane_costs = 500
no_of_people = 29
company_charge_per_ticket = 200
total_revenue = company_charge_per_ticket * no_of_people
profit = total_revenue * plane_costs
print(profit)

2900000