In [17]:
def list_square(num_list):
    return
    temp_list=[]
    for num in num_list:
        temp_list.append(num**2)
        return temp_list 
num_list=[1,2,3,4]
print("origional list",num_list)
list_square(num_list)

origional list [1, 2, 3, 4]

In [25]:
def sum_list(num_list):
  sum=0
  for i in num_list:
    sum = sum + i
  return sum
  num_list=[1,2,3,4,5]
  print("origional_list",num_list)
  sum_list(num_list)

In [31]:
def is_vallid_even(num):
    if type (num)=="int":
        if num%2==0:
            print("number is even")
    else:
        print("number is odd")

In [ ]:
# defalut arguments
# positional argumenys
# keywords arguments

In [33]:
def power(a=1,b=2):
    return a**b

In [35]:
power (b=3,a=2)

8

In [37]:
power (a=9,b=6)

531441

In [39]:
def product(*args):
    product=1
    for i in args:
        product = product+1
    print(args)
    return product

In [47]:
product(1,2,3,4,5,6,7,8,9)

NameError: name 'product' is not defined

In [ ]:
*****************portfolio******************
Name = "Bharti"
Age = 23
Profession = student
Oraganization = ned university
skilla = ms office

In [51]:
def user_details(*args):
    print(args)
name = input("enter your name")
gender = input("enter your gender")
age = int(input("enter your age"))
skills = input("enter your skills")
user_details(name,gender,age,skills)

enter your name Bharti
enter your gender female
enter your age 23
enter your skills ms office, python

('Bharti', 'female', 23, 'ms office, python')

In [55]:
def user_details(**kwargs):
    for key,value in kwargs.items:
        print(key,'....',value)
name = input("enter your name")
gender = input("enter your gender")
age = int(input("enter your age"))
skills = input("enter your skills")
user_details(name=name,gender=gender,age=age,skills=skills)

enter your name bharti
enter your gender female
enter your age 23
enter your skills ms office

TypeError: 'builtin_function_or_method' object is not iterable

In [61]:
def institute(**kwargs):
    for key,value in kwargs.items:
        print(key,'....',value)
school = input("enter your school name")
college = input("enter your college name")
uni = input("enter your uni name")
institute(school,'school',college,'college',uni,'uni')

enter your school name G.G.H.S.BELA
enter your college name G.G.I.C.BELA
enter your uni name LASBELA UNI

TypeError: institute() takes 0 positional arguments but 6 were given