In [97]:
# 1.Declare an empty list
empty_list = []
# 2.Declare a list with more than 5 items
list = [1,2,3,4,5,6]
# 3.Find the length of your list
lenght_of_list = len(list)
print(lenght_of_list)
# 4. Get the first item, the middle item and the last item of the list
first_item = list[0]
middle_item =

6

In [ ]:
# 5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)
mixed_data_type = ['bharti',23,5.1,'single','light house']

In [112]:
# 6. Declare a list variable named IT_companies
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
print('it companies',it_companies)
num_of_companies = len(it_companies)
print('number of it companies',num_of_companies)

it companies ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
number of it companies 7

In [114]:
# 7. Print the first, middle and last company

# 8. Print the list after modifying one of the companies
initial_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
#microsoft replace with netflix
it_companies[2] = "netflix"
print('modified it companies',it_companies)

modified it companies ['Facebook', 'Google', 'netflix', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [15]:
#9. Add an IT company to IT_companies
it_companies = ['Facebook', 'Google', 'netflix', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append('accenture')
print('updated it list',it_companies)
# 12. Sort the list using sort () method
it_companies.sort()
print('sorted it companies',it_companies)
# 13. Reverse the list in descending order using reverse() method
it_companies.reverse()
print('reversed it companies',it_companies)
# 14. Slice out the first 3 companies from the list
first_three_companies = it_companies[:3]
print('first three companies',first_three_companies)
# 15. Slice out the last 3 companies from the list
last_three_companies = it_companies[-3:]
print('last three companies',last_three_companies)
# 16. Slice out the middle IT company or companies from the list
middle_it_company = it_companies[4::9]
print('middle company',middle_it_company)
# 17. Remove the first IT company from the list
it_companies.pop(0)
print('it companies after removing first company',it_companies)
# 18. Remove the middle IT company or companies from the list
it_companies.pop(3)
print('it companies after removing middle company',it_companies)
# 19. Remove the last IT company from the list
it_companies.pop(5)
print('it companies after removing last company',it_companies)
# 20. Remove all IT companies from the list
it_companies.clear()
print('it companies after clearing',it_companies)
# 21. Destroy the IT companies list
del it_companies

updated it list ['Facebook', 'Google', 'netflix', 'Apple', 'IBM', 'Oracle', 'Amazon', 'accenture']
sorted it companies ['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Oracle', 'accenture', 'netflix']
reversed it companies ['netflix', 'accenture', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
first three companies ['netflix', 'accenture', 'Oracle']
last three companies ['Facebook', 'Apple', 'Amazon']
middle company ['Google']
it companies after removing first company ['accenture', 'Oracle', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']
it companies after removing middle company ['accenture', 'Oracle', 'IBM', 'Facebook', 'Apple', 'Amazon']
it companies after removing last company ['accenture', 'Oracle', 'IBM', 'Facebook', 'Apple']
it companies after clearing []

In [23]:
# 22. Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
full_stack = front_end + back_end
print('full stack',full_stack)
# 23.  Insert Python and SQL after Redux in full_stack
full_stack.insert(full_stack.index('Redux')+1, 'python')
full_stack.insert(full_stack.index('python')+1,'SQL')
print('full_stack after adding python and SQL',full_stack)

full stack ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack after adding python and SQL ['HTML', 'CSS', 'JS', 'React', 'Redux', 'python', 'SQL', 'Node', 'Express', 'MongoDB']

In [41]:
# 24. List of student ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# 25. Sort the list and find the min and max age
ages.sort()
print('sorted ages',ages)
#min_age
min_age = min(ages)
max_age = max(ages)
print('minimum age',min_age)
print('maximum age',max_age)
# 25. Add the min age and the max age again to the list
ages.extend([max_age,min_age])
print('age after adding max and min age again',ages)
# 26.Find the average age
average_age = sum(ages)/len(ages)
print('average age',average_age)
# 27.Find the range of the ages
age_range = max_age-min_age
print('age range',age_range)
# 28. Compare the value of (min - average) and (max - average), use abs () method
min_average_diff = abs(min_age-average_age)
max_average_diff = abs(max_age-average_age)
print('diff between min age and avrage age',min_average_diff)
print('diff between max age and avrage age',max_average_diff)

sorted ages [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age 19
maximum age 26
age after adding max and min age again [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]
average age 22.75
age range 7
diff between min age and avrage age 3.75
diff between max age and avrage age 3.25

In [75]:
#tuple
# 1. Create an empty tuple
empty_tuple =()
print(empty_tuple)
# 2. Create a tuple containing names of your sisters and your brothers
brothers = ('aneel','sunil','lalit')
sisters = ('vrinda','chitra')
# 3. Join brothers and sisters tuples and assign it to siblings
siblings = brothers+sisters
print(siblings)
# 4. How many siblings do you have?
number_of_siblings = len(siblings)
print('number of siblings',number_of_siblings)
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members.
mother = ('geeta')
father = ('kumar')
family_members = siblings + ('geeta','kumar')
print('family members',family_members)
# 6. Unpack siblings and parents from family_members
*siblings,geeta,kumar, = family_members
print('siblings',siblings)

()
('aneel', 'sunil', 'lalit', 'vrinda', 'chitra')
number of siblings 5
family members ('aneel', 'sunil', 'lalit', 'vrinda', 'chitra', 'geeta', 'kumar')
siblings ['aneel', 'sunil', 'lalit', 'vrinda', 'chitra']

In [93]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits = ('apple','mango','banana')
vegetables = ('spanish','eggplant','okra')
animal_products = ('milk','meat','crud')
food_stuff_tp = fruits + vegetables + animal_products
print('food stuff tp',food_stuff_tp)
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_it = list(food_stuff_tp)
print('food stuff it',food_stuff_it)
# 10. Slice out the first three items and the last three items from food_staff_lt list
first_three_food = food_stuff_it[:3]
last_three_food = food_stuff_it[-3:]
print('first three food',first_three_food)
print('last three food',last_three_food)
# 11. Delete the food_staff_tp tuple completely.
del food_stuff_tp

food stuff tp ('apple', 'mango', 'banana', 'spanish', 'eggplant', 'okra', 'milk', 'meat', 'crud')
food stuff it ['apple', 'mango', 'banana', 'spanish', 'eggplant', 'okra', 'milk', 'meat', 'crud']
first three food ['apple', 'mango', 'banana']
last three food ['milk', 'meat', 'crud']

In [23]:
#set
# 1.Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'Ibm', 'Oracle', 'Amazon',}
length_of_it_companies = len(it_companies)
print(length_of_it_companies)

7

In [31]:
# 2.Add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'Facebook', 'Ibm', 'Oracle', 'Amazon', 'Apple', 'Twitter', 'Microsoft', 'Google'}

In [45]:
# 3.Insert multiple IT companies at once to the set it_companies
it_companies.update(['instagram','tiktok'])
print(it_companies)

{'Ibm', 'instagram', 'Oracle', 'Apple', 'Facebook', 'snapchat', 'tiktok', 'Microsoft', 'Twitter', 'Google', 'Amazon'}

In [49]:
# 4.Remove one of the companies from the set it_companies
it_companies.remove('Apple')
print(it_companies)

{'Ibm', 'instagram', 'Oracle', 'Facebook', 'snapchat', 'tiktok', 'Microsoft', 'Twitter', 'Google', 'Amazon'}

In [ ]:
# 5.What is the difference between remove and discard?
remove behave if the element is not found it raise key error but discard behave if the elements is not found it does not raise in error.

In [51]:
# 6.Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A|B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [1]:
%who

Interactive namespace is empty.

In [55]:
# 7.Find A intersection B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A&B)

{19, 20, 22, 24, 25, 26}

In [59]:
# 8.Is A subset of B
A.issubset(B)

True

In [61]:
# 9.Are A and B disjoint sets
A.isdisjoint(B)

False

In [ ]:
# 10.Join A with B and B with A
A

In [63]:
# 11. What is the symmetric difference between A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A^B)

{27, 28}

In [9]:
# 12. Delete the sets completely
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
del A,B

In [37]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age = [22, 19, 24, 25, 26, 24, 25, 24]
#conver list into set
age_set = set(age)
print(age_set)
length_of_list = len(age)
length_of_set = len(age_set)
print(length_of_list)
print(length_of_set)
#which one is bigger
if length_of_list > length_of_set:
    print("The list is bigger.")
elif length_of_list < length_of_set:
    print("The set is bigger.")
else:
    print("Both have the same length.")

{19, 22, 24, 25, 26}
8
5
The list is bigger.

In [ ]:
# 14. Explain the difference between the following data types: string, list, tuple and set
string: Strings are immuatble once created thier content cannot change.
list: list is muttable and odererd function.
tuple: Tuple is odererd function and its immutable.
set: A set is an unoderderd collection of items, no dupplication allow and set is muttable.