In [3]:
# 1. Write a loop that makes seven calls to print(), so we get on the output the following triangle:
for i in range(1,8):
  print('#' * i)

#
##
###
####
#####
######
#######

In [40]:
# 2. Use nested loops to create the following:
for i in range (8):
  print('#'*8)

########
########
########
########
########
########
########
########

In [4]:
# 3. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
list = ['Python', 'Numpy','Pandas','Django', 'Flask']
for itemes in list:
  print(itemes)

Python
Numpy
Pandas
Django
Flask

In [6]:
# 4. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.
sum_even = 0
sum_odd = 0
for num in range(101):
  if num % 2 == 0:
    sum_even += num
  else:
    sum_odd += num
print('sum of evens',sum_even)
print('sum of odds',sum_odd)

sum of evens 2550
sum of odds 2500

In [7]:
# 5. Calculate the cube of all numbers from 1 to a given number
def cube_of_numbers(n):
  cubes=[i ** 3 for i in range(1,n+1)]
  return cubes
print(cube_of_numbers(7))

[1, 8, 27, 64, 125, 216, 343]

In [8]:
# 6. Declare a function add_two_numbers. It takes two parameters and it returns a sum.
def add_two_numbers(a,b):
  return a + b
print(add_two_numbers(2,3))

5

In [ ]:
# 7. Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates area_of_circle.

In [9]:
# 8. function to sum all arguments
def add_all_nums(*args):
  if all(isinstance(arg,(int,float)) for arg in args):
    return sum(args)
  else:
    return"all items must be numbers"
print(add_all_nums(1,2,3,4))

10

In [10]:
# 9. Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) +32. Write a function which converts °C to °F, convert_celsius_to-fahrenheit.
def convert_celsius_to_fahrenheit(celsius):
  celsius = 25
  return (celsius*9/5)+32
print(convert_celsius_to_fahrenheit(25))

77.0

In [18]:
# 10. write a funvtion called check-session, it takes a month parameter and returns the session:autumn,winter,spring or summer.
def check_session(month):
    if month in ["september","october","november"]:
        return "autumn"
    elif month in ["december","january","february"]:
        return "winter"
    elif month in ["march","april","may"]:
        return "spring"

    elif month in ["june","july","august"]:
        return "summer"
    else:
        return "invalid month"
print(check_session("september"))
print(check_session("january"))
print(check_session("may"))
print(check_session("june"))

autumn
winter
spring
summer

In [19]:
# 11.Write a function called calculate_slope which return the slope of a linear equation
def calculate_slope(x1,y1,x2,y2):
  return (y2-y1)/(x2-x1)
print(calculate_slope(2,3,4,5))

1.0

In [20]:
# 12.Quadratic equation is calculated as follows: ax2 + bx + c = 0. Write a function
#which calculates the solutiion set of a quadratic equation, solve_quadratic_eqn.
def solve_quadratic_eqn(a,b,c):
  discrinant = b**2 - 4*a*c
  if discrinant > 0:
    root1 = (-b + discrinant**0.5)/(2*a)
    root2 = (-b - discrinant**0.5)/(2*a)
    return root1,root2
  else:
    return "no real solutions"
print(solve_quadratic_eqn(1,-3,2))

(2.0, 1.0)

In [21]:
# 13.Declare a function named print_list. It takes a list as a parameter and it prints out each element of list.
def print_list(list):
    for i in list:
        print(i)
print_list([1,2,3,4,5])

1
2
3
4
5

In [22]:
# 14.Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).
def reverse_list(list):
  return list[::-1]
print(reverse_list([1,2,3,4,5]))
print(reverse_list(['a','b','c','d']))

[5, 4, 3, 2, 1]
['d', 'c', 'b', 'a']

In [28]:
# 15.Declare a function named evens_and_odds . It takes a positive integer as a parameter and it counts the number of events and odds in the number.
def evens_and_odds(n):
  even_count = 0
  odd_count = 0
  for i in range(n):
    if i % 2 == 0:
      even_count += 1
    else:
      odd_count += 1
  return  even_count, odd_count
print(evens_and_odds(45678))

(22839, 22839)

In [30]:
#16.Write different functions which take lists. They should calculate_mean,
#calculate_median, calculate_mode, calculate_range, calculate_variance,
#calculate_std (standard deviation).

import statistics
def calculate_mean(list):
  return statistics.mean(list)
def calculate_median(list):
  return statistics.median(list)
def calculate_mode(list):
  return statistics.mode(list)
def calculate_range(list):
  return max(list)-min(list)
def calculate_variance(list):
  return statistics.variance(list)
def calculate_std(list):
  return statistics.stdev(list)
data = [1,2,3,4,5,6,7,8]
print(calculate_mean(data))
print(calculate_median(data))
print(calculate_mode(data))
print(calculate_range(data))
print(calculate_variance(data))
print(calculate_std(data))

4.5
4.5
1
7
6
2.449489742783178

In [34]:
# 17.Write a function which checks if all items are unique in the list.
def all_unique(list):
  list = [1,2,3,4,5]
  return len(list) == len(set(list))
print(all_unique(list))

True

In [38]:
# 18.Write a function which checks if all the items of the list are of the same data type
def all_same_type(list):
  list = ['apple','banana','orange']
  return len(set(type(item) for item in list)) ==1
print(all_same_type(list))

True
[1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
# 20.Write a Python program to detect the number of local variables declared in a function.
def count_local_variables():
    x = 10
    y = 20
    z = 30
    local_variables = locals()
    return len(local_variables)
print(count_local_variables())

3