In [3]:
# 1. Write a Python program to print the numbers from 1 to 10 using a for loop.
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
# 2. Create a list containing the numbers 1 to 5. Then, using a for loop, print each element of the list.
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [5]:
# 3. Write a program that takes a list of numbers and returns the sum of all the numbers in the list.
list_of_numbers = [1,2,3,4,5,6]
sum_of_numbers = sum(list_of_numbers)
print(sum_of_numbers)

21

In [7]:
# 4. Given a list of strings, write a program to concatenate all the strings into one.
strings = ['hello','bharti','aasudani']
concatenated_string = ''.join(strings)
print('concatenated_string:',concatenated_string)

concatenated_string: hellobhartiaasudani

In [8]:
# 5. Write a program that takes a list of numbers and returns the largest number in the list.
list_of_numbers = [1,2,3,4,5,6]
largest_number = max(list_of_numbers)
print('largest_number:',largest_number)

largest_number: 6

In [10]:
# 6. Create a list containing the numbers 1 to 10. Using a for loop, square each number in the list and print the result.
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers:
  print(number**2)

1
4
9
16
25
36
49
64
81
100

In [11]:
# 7. Write a program that takes a list of numbers and returns a new list containing only the even numbers from the original list.
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []
for number in numbers:
    if number % 2 == 0:
        even_numbers.append(number)
print(even_numbers)

[2, 4, 6, 8, 10]

In [13]:
# 8. Given two lists of numbers, write a program to combine the lists element-wise (i.e., element-wise addition).
list1 = [1,2,3,4,5,6,]
list2 = [7,8,9,10,11,12]
combined = [a + b for a, b in zip (list1,list2)]
print("combined:",combined)

combined: [8, 10, 12, 14, 16, 18]

In [14]:
# 9. Write a program that takes a list of strings and returns a new list containing the lengths of each string.
strings = ['banana','apple','orange','watermelon']
length_of_strings = []
for i in strings:
    length_of_strings.append(len(i))
print(length_of_strings)

[6, 5, 6, 10]

In [16]:
# 10. Create a list of numbers from 1 to 10. Using list slicing and a for loop, print every second element of the list.
numbers = [1,2,3,4,5,6,7,8,9,10]
for number in numbers[0::2]:
    print(number)

1
3
5
7
9